{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}Book your tour{% endblock %}

{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">

a.book {
    border: medium none;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    float: right;
    line-height: 1em;
    margin: 5px 0 20px;
    padding: 19px 15px;
    position: relative;
    right: -20px;
    top: -15px;
    width: 160px;
    font-size: 23px;
}

p {
   margin: 0 0 20px 0;   
}

p.introduction {
  margin: 0 0 40px 0;   
}

p.details {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    left: -10px;
    padding: 10px 20px;
    position: relative;
    width: 95%;
    z-index: 9;
}

img.promo {
  margin: 0 0 20px 0;   
}

.photos {
  margin: 0 0 30px 0;   
}

.photos img {
  margin: 0 10px 0 0;   
}

.photos img:hover {
  opacity: 0.8;
  cursor: pointer;   
}

ul.errorlist {
  color: red;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

</style>
{% endblock %}


{% block content %}
<div class="inner">

    <h1>Book a place on a tour</h1>
    <p class="introduction">Use this online form to book your place. Once you've completed the tour, your place will be reserved. We will send you a confirmation email and then contact you by telephone to confirm arrangements. </p>

    <div id="right">
        
        <div class="box white">
            <span class="title">Ways to pay</span>
            <p>Try your hand at making traditional Chinese tea with experienced tea masters</p>
        </div>
        
        <div class="box white">
            <span class="title">Returns, refunds, rights?</span>
            <p>Try your hand at making traditional Chinese tea with experienced tea masters</p>
        </div>
        
        <div class="box white">
            <span class="title">Still have questions?</span>
            <p>Check out the <a href="{% url page 'faqs' %}">FAQs</a> or just <a href="{% url page 'contact' %}">get in touch</a> with us by phone or email.</p>
        </div>
               
    </div>
    
    <div id="left">
        
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Save and book your place" />
        </form>
        
        
        
        


    </div>
</div>
{% endblock %}
