{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}{{ tour.name }}{% endblock %}

{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">

#header {
  margin-bottom: 0px;   
}

#galleries {
  float: left;
  width: 100%;
  text-align:center;   
  position: relative;
}

#galleries img {
  margin: 0 30px 30px 0;   
}

#galleries img:hover {
  opacity: 0.7;   
}

</style>
{% endblock %}


{% block content %}
<div class="inner">

    <div id="galleries">
    {% for t in tours %}
        {% thumbnail t.promo_image thumb_large crop="center" as im %}
            <a href="{% url gallery t.slug %}"><img src="{{ im.url }}" /></a>
        {% endthumbnail %}
    {% endfor %}
    </div>
    
</div>
{% endblock %}
