{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}Home{% endblock %}

{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">

#header {
  margin-bottom: 0;
  height: 60px;
}

#feature {
  margin: 0 0 60px 0;   
  float: left;
  width: 100%;
}

#feature #text {
  float: right;
  text-align: right;
  width: 500px;
  margin-top: 20px;   
}

#feature #images {
  float: left;
  width: 430px;
  margin: 25px 0 0 30px;   
}

#feature #images img {
    position: relative;
    left: 0;
    margin: 0 10px 0 0;
    border: 5px solid #fff;
}    

#feature h1 {
  font-size: 36px;
  text-shadow: 0 1px 1px #fff;
  margin: 0;
  line-height: 1em;   
}

#feature p {
  margin: 0;   
}

#feature img {
  box-shadow: none;
  border: none;
  position: relative;
  left: -70px;   
}

#images img:hover {
  opacity: 0.7;   
}

#trips {
  float: left;
  width: 90%;
  margin: 0 0 30px 0;
  padding: 0 5% 0 3%;   
}

#trips h2 {
  font-size: 30px;   
}

#trips h3 {
   font-size: 24px;   
}

#trips .trip {
  width: 100%;
  float: left;
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;  
  border-bottom: 2px dotted #c4b99e; 
  position: relative;
}

#trips .trip:last-child {
  border-bottom: none;   
}

#trips .trip .box {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #B2A865;
    font-size: 13px;
    padding: 40px 10px 20px;
    position: absolute;
    right: -40px;
    top: 0;
    width: 130px;
}

#trips .trip .box .title {
  font-size: 18px;
  line-height: 1em;
  padding: 7px 9px 10px;
     
}

#trips .box ul {
  padding: 0 0 0 0px;
  margin: 0;
  list-style-type: none;
    
}

#trips .trip .text {
  float: left;
  width: 500px; 
  border: none;
  padding: 0;
  margin: 0;  
}

#trips .trip img {
  float: left;
  margin: 0 20px 0 0;
  position: relative;
  top: 10px;   
}

</style>
{% endblock %}


{% block content %}
<div class="inner">

    <div id="feature">
        <img src="{{ static_url }}images/home2.jpg"/>
        <div id="images">
            {% for x in photos %}
                {% thumbnail x.image thumb_small crop="center" as im %}
                    <a title="{{ x.title }} - {{ x.tour }}" alt="" href="{% url tour x.tour.slug %}"><img src="{{ im.url }}" /></a>
                {% endthumbnail %}
            {% endfor %}
        </div>
        <div id="text">
            <h1>Do something amazing this Spring</h1>
            <p>Weekend tea adventures to exquisite farms across southern China - choose from luxury or off-the-beaten-track, see first-hand how fine Chinese tea is made, and give yourself a once in a lifetime epicurian experience. </p>
        </div>
    </div>
    
   {% include 'website/snippets/tour_list.html' %} 
    
</div>
{% endblock %}
