{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}{{ page.title }}{% endblock %}

{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">


</style>
{% endblock %}


{% block content %}
<div class="inner">

    <h1>{{ page.title }}</h1>
    <p class="introduction">Lorem ipsum dolor <strong>sit amet, consectetur adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>

    <div id="right">
        
        <div class="box white">
            <span class="title">The title here</span>
            <p>Try your hand at making traditional Chinese tea with experienced tea masters</p>
        </div>
        
        <div class="box white">
            <span class="title">The title here</span>
            <img src="{{ static_url }}images/box1.jpg"/>
            <p>Try your hand at making traditional Chinese tea with experienced tea masters</p>
        </div>
        
        
    </div>
    
    <div id="left">
        

        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        
        <img class="promo" src="{{ static_url }}images/promo1.jpg" />
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
</div>
{% endblock %}
