{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}{{ page.title }}{% endblock %}

{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">

#left {
  margin-top: 0;   
}

#right {
  margin-top: 30px;   
}

h1 {
  margin-top: 0;   
}

</style>
{% endblock %}


{% block content %}
<div class="inner">


    <div id="right">
        
        <div class="box white">
            <span class="title">Why take a tea tour?</span>
            <p>&ldquo;<em>It's what I tell my friends about when they ask about my time in China - walking through tea fields, smelling fresh tea leaves roasting, and drinking just-made tea at the end of the day.</em>&rdquo;<br/><strong>Chris West, co-founder of secretteatours.com</strong>            
            </p>
        </div>
        
        <div class="box white">
            <span class="title">The title here</span>
            <img src="{{ static_url }}images/box1.jpg"/>
            <p>Try your hand at making traditional Chinese tea with experienced tea masters</p>
        </div>
        
        
    </div>
    
    <div id="left">
        
        <h1>{{ page.title }}</h1>

        {{ page.content|safe }}
        
        
    </div>
</div>
{% endblock %}
