{% extends base_template %}
{% load thumbnail %}

{% block pagetitle %}{{ tour.name }}{% endblock %}

{% block metadescription %}{% endblock %}


{% block extracss %}
<style type="text/css">

a.book {
    border: medium none;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    float: right;
    line-height: 1em;
    margin: 5px 0 20px;
    padding: 19px 15px;
    position: relative;
    right: -20px;
    top: -15px;
    width: 160px;
    font-size: 23px;
}

p {
   margin: 0 0 20px 0;   
}

p.introduction {
  margin: 0 0 40px 0;   
}

p.details {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    left: -10px;
    padding: 10px 20px;
    position: relative;
    width: 95%;
    z-index: 9;
}

img.promo {
  margin: 0 0 20px 0;   
}

.photos {
  margin: 0 0 30px 0;   
}

.photos img {
  margin: 0 10px 0 0;   
}

.photos img:hover {
  opacity: 0.8;
  cursor: pointer;   
}

</style>
{% endblock %}


{% block content %}
<div class="inner">

    <h1>{{ tour }}</h1>
    <p class="introduction">{{ tour.intro_content|safe }}</p>

    <div id="right">
        
        <div class="box white">
            <span class="title">Why take a tea tour?</span>
            <p>&ldquo;<em>So many of us come to China and barely scratch the surface in our time here - learning about tea is a direct path to what I feel is the real China. It's such an amazing culture and an experience that lasts a long time.</em>&rdquo;<br/><strong>Bethan Thomas, co-founder of secretteatours.com</strong>            
            </p>
        </div>
        
        <div class="box">
            <img src="{{ static_url }}images/box1.jpg"/>
            <p>Try your hand at making traditional Chinese tea with experienced tea masters</p>
        </div>
               
    </div>
    
    <div id="left">
        
        
        
        

        <p class="details">
            <a class="book button" href="{% url book %}">Book this tour now &raquo;</a>
            <strong>Price:</strong> {{ tour.price }} RMB &nbsp;&nbsp;| &nbsp;&nbsp;<strong>Dates:</strong> {{ tour.start_date|date:"d" }}-{{ tour.end_date|date:"d" }} {{ tour.start_date|date:"M" }} &nbsp;&nbsp; <br/><strong>Starts from:</strong> Xiamen, Fujian  
        </p>
        <br clear="all"/>
        
        <div class="photos">
            {% for x in tour.get_photos %}                
                  {% thumbnail x.image thumb_small crop="center" as im %}
                    <a href="{% url gallery_image tour.slug x.id %}"><img src="{{ im.url }}" /></a>
                  {% endthumbnail %}
            {% endfor %}
        </div>
        
        {{ tour.main_content|safe }}


    </div>
</div>
{% endblock %}
