{% load thumbnail %}
<div id="trips">
    {% for t in tours %}
        <div class="trip">
            <div class="box">
                <span class="title">{{ t.start_date|date:"d" }}-{{ t.end_date|date:"d" }} {{ t.end_date|date:"M" }} {{ t.end_date|date:"Y" }}</span>
                2 days/1 night, Start from Xiamen, only {{ t.remaining_places }} places remaining.<br/>
                <a href="{% url tour t.slug %}">View more &raquo;</a>
                
            
            </div>
            {% thumbnail t.promo_image thumb_medium crop="" as im %}
                <img src="{{ im.url }}" />
            {% endthumbnail %}
            <div class="text">
                <h3><a href="{% url tour t.slug %}">{{ t }} &raquo; </a></h3>
                <p>{{ t.intro_content }}</p>
            </div>
        </div>
    {% endfor %}        
</div>
